@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 15vh;
  /* --card-width: calc(var(--card-height) / 1.5); */
  --card-width: 220px;
}

.line-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 15vh; */
  max-width: 100vw;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: #191c29;
  min-width: var(--card-width);
  max-width: 17%;
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;

  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 15px;
  transition: all 400ms ease-in;

}

.card::before {
  max-width: 99vw;
  z-index: -1 !important;
  content: "";
  /* width: 102%; */
  /* height: 102%; */
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  animation: spin 2.5s linear infinite;
  overflow: hidden;
}

.active {
  background-color: #ea80fc;
  position: static;
  animation: none;
}

.line-products span {
  color: #fff;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.line-products .img-line-products {
  width: 30%;
  max-width: 100%;
}

/* @media screen and (max-width: 1220px) {
  .card {}
} */